@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .header-top {
        padding: 1rem 0;
    }

    #menu {
        display: none;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }

    .navigation a {
        padding: 1rem;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}
